.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #0e0e0e;
  color: rgb(243, 241, 249);
  text-align: center;
  font-size: 30px;
  padding: 50px;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.book:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.book img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book h3 {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}

.book p {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.book-detail img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.book-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.book-detail p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.book-detail button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-detail button:hover {
  background-color: #0056b3;
}
